{% extends 'commune.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {#<link rel="stylesheet" type="text/css" href="{{asset('assets/css/commune.css')}}">#}
    <style>
        html {
            /*position:relative; */
        }
       
       .bg-warning {
            background-color: #FFD470 !important;
        }
        .bg-info {
            background-color: #5070B5 !important;
        }
        .bg-danger {
            background-color: #FF9166 !important;
        }
        .btn-danger {
            background-color: #FF9166 !important;
            border-color: #FF9166 !important;
        }
        .btn-success {
            background-color: #58CCB6 !important;
            border-color: #58CCB6 !important;
        }
        .btn-warning {
            background-color: #FFD470 !important;
            border-color: #FFD470 !important;
        }
        #main {
            min-height: 85vh;
        }
        
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Oswald', sans-serif;
        }
        
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: Gainsboro !important;
        opacity: 1; /* Firefox */
        }
    
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: Gainsboro !important;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: Gainsboro !important;
        }

    </style>
{% endblock %}
{% block header %}
{% endblock %}
{% block main %}

<h1 class="mt-5 pt-3 mb-4 text-center display-3 text-dark" id="titreinscription">Connexion</h1>

<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100" >
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="row my-2 d-flex justify-content-center">
                     {% for label, messages in app.flashes %}
                        <div class="alert alert-{{ label }}">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <p class="text-center">Connectez-vous pour gérer vos déclarations</p>
                <form class="border border-secondary border-2 rounded pt-4 pl-4 pr-4 pb-2 mb-4" action="{{ path('connexion') }}" method="post">
                    <div class="text-center form-group">
                        <label for="username">Nom d'utilisateur :</label>
                        <input class="form-control form-control-lg mb-3" placeholder="MonsieurRichard"type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="text-center form-group">
                        <label for="password">Mot de passe :</label>
                        <input class="form-control form-control-lg mb-3" type="password" id="password" name="_password">
                    </div>
                    <div class="form-group text-center">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <button class="btn btn-success" type="submit">Connexion</button>
                    </div>
                    <p class="text-center"><a href="{{path('inscription')}}">Pas encore inscrit?</a></p>
                </form> 
        </div>
    </div>
</div>
{% endblock %}



