{% extends 'admin.html.twig' %}

{% block title %}Vérifications de vos informations<{% endblock %}

{% block header %}
    <div class="container-fluid mt-5 mb-4 p-3" style="background: url({{asset('assets/img/illustration-hebergement/dashboard.jpg')}}) no-repeat fixed">
        <div class="row justify-content-center">
           <h1 class="text-center">Vérifications de vos informations</h1>  
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="row ml-2 mb-4">
        <a href="{{ path('hebergement_new') }}">< retour sur ma déclaration</a>
    </div>
    <div class="row" onload="initialize()">
        <div class="col-md-8 col-lg-6">
            <h2>{{ hebergement.hebName }}</h2> 
            <p><strong>Descriptif:</strong> {{ hebergement.hebDescriptifCourt }}</p>
            <p><strong>Adresse:</strong> {{ hebergement.hebAdresse }} <br>
            {% if hebergement.hebAdresseComplement != '' %}
                <strong>Complément d'adresse:</strong> {{ hebergement.hebAdresseComplement }} <br>
            {% endif %}
            {% if hebergement.hebType == 'appartement' %}
                <strong>Bâtiment:</strong> {{ hebergement.hebBatiment }} <strong>Etage:</strong> {{ hebergement.hebEtage }}<br>
            {% endif %}
            <strong>Code Postal:</strong> {{ hebergement.hebCodePostal }}<br>
            <strong>Ville:</strong> {{ hebergement.hebCommune }}</p>
            <p><strong>Nombre de pièces:</strong> {{ hebergement.hebNbrPieces }}</p>
            <p><strong>Classement:</strong> {{ hebergement.hebClassement }} <br>
            <strong>Date de classement:</strong> {{ hebergement.hebDateClassement | date('d-m-Y') }}</p>
            <p><strong>Saisons d'ouverture:</strong> 
                {% for periode in hebergement.hebPeriodesLocation %}
                    <span>
                        <i class="far fa-check-square"></i> {{ periode }}
                    </span>
                {% endfor %}
            </p>
            <p><strong>Nombre de couchages maximum:</strong> {{ hebergement.hebCouchagesMax }}</p>
            {% if hebergement.hebSiteWeb != '' %}
                <p><strong>Site web:</strong> <a href="{{ hebergement.hebSiteWeb }}">{{ hebergement.hebName }}</a></p>
            {% endif %}
            {% if hebergement.hebSiteResa != '' %}
                <p><strong>Site web de réservation:</strong> <a href="{{ hebergement.hebSiteResa }}">Réservation {{ hebergement.hebName }}</a><br>
            {% endif %}
            {% if hebergement.hebContactResa != '' %}
                <strong>Contact de réservation:</strong> {{ hebergement.hebContactResa }}<br>
            {% endif %}
            {% if hebergement.hebEmailResa != '' %}
                <strong>Email de réservation:</strong> {{ hebergement.hebEmailResa }}<br>
            {% endif %}
            {% if hebergement.hebTelResa != '' %}
                <strong>Téléphone de réservation:</strong> {{ hebergement.hebTelResa }}</p>
            {% endif %}
            <strong>Cerfa:</strong> {{ hebergement.hebCerfa }}</p>
            <div class="d-flex flex-column flex-sm-row">
                <div>
                    <a class="btn btn-warning mr-2" href="{{ path(app.request.get('_route')) }}">modifier les informations</a>     
                </div> 
                <div>
                    <a class="btn btn-warning mr-2" href="{{ path('dashboard_declarant', {'id': hebergement.id}) }}">Valider les informations</a>     
                </div>
            </div>
    </div>
   
{% endblock %}
{% block javascripts %}
    

{% endblock %}