{{ form_start(form) }}
   <div id="accordion">
    <h4><i class="fa fa-chevron-down"></i>Login et mot de passe</i></h4>
    <div>
        <div class="item__description">
            <div class="form-group">
                {{ form_label(form.username) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
        </div>
    </div>


    <h4><i class="fa fa-chevron-down"></i> Renseignements taxe de séjour</h4>
        <div>
            <div class="item__description">
                <div class="form-group">
                    {{ form_label(formMairie.mairie_maire_nom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                    {{ form_widget(formMairie.mairie_maire_nom) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.user_nom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                    {{ form_widget(form.user_nom) }}
                </div>
                <div class="form-group">
                     {{ form_label(form.user_prenom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                    {{ form_widget(form.user_prenom) }}
                </div>
                <div class="form-group">
                     {{ form_label(form.user_nom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                    {{ form_widget(form.username) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div><div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
            </div> 
        </div>
    
    <h4><i class="fa fa-chevron-down"></i> Renseignements Commune</h4>
        <div>
            <div class="item__description">
                {#<div class="form-group">#}
                {#    {{ form_label(form.mairie.mairie_descriptif) }}#}
                {#    {{ form_widget(form.Mairie.mairie_descriptif) }}#}
                {#</div>#}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
            </div>
        </div>
    
    <h4><i class="fa fa-chevron-down"></i> Contact et réservation</h4>
        <div>
            <div class="item__description">
                           <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
            </div>
        </div>
    </div>
          

    <button class="btn">{{ button_label|default('Valider mes informations') }}</button>
    
{{ form_end(form) }}