{{ form_start(form) }}
   <div id="accordion">
    <h4><i class="fa fa-chevron-down"></i> Renseignements principaux</i></h4>
    <div>
        <div class="item__description">
            <div class="form-group">
                {{ form_label(form.username) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            <div class="form-group">
            <label for="adresse">Adresse</label><small style="font-style:italic; color:red;"> - Obligatoire</small>
            <input class="form-control" type="text" id="autocomplete"></input>
            </div>
            <div class="form-group">
                {{ form_label(form.user_nom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.user_nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.user_nom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.user_nom) }}
            </div>
            <div class="form-group">
                 {{ form_label(form.user_prenom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.user_prenom) }}
            </div>
            <div class="form-group">
                 {{ form_label(form.user_nom) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.username) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
        </div>
    </div>


<h4><i class="fa fa-chevron-down"></i> Caractéristiques de votre hébergement</h4>
    <div>
        <div class="item__description">
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
        </div> 
    </div>

<h4><i class="fa fa-chevron-down"></i> Renseignements sur la location</h4>
    <div>
        <div class="item__description">
                        <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
        </div>
    </div>

<h4><i class="fa fa-chevron-down"></i> Contact et réservation</h4>
    <div>
        <div class="item__description">
                       <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
            </div>
        </div>
    </div>
</div>
      

    <button class="btn">{{ button_label|default('Valider mes informations') }}</button>
    
{{ form_end(form) }}