{{ form_start(form) }}

<div id="accordion">
    <h4><i class="fa fa-chevron-down"></i> Localisation de votre hébergement</i></h4>
    <div>
        <div class="item__description">
            <div class="form-group">
            <input class="form-control" type="text" id="autocomplete"></input>
            </div>
            <div class="form-group">
                {{ form_label(form.heb_num_voie) }}
                {{ form_widget(form.heb_num_voie, { 'id': 'street_number' } ) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_adresse) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.heb_adresse, { 'id': 'route' }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_adresse_complement) }}
                {{ form_widget(form.heb_adresse_complement) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_batiment) }}
                {{ form_widget(form.heb_batiment) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_etage) }}
                {{ form_widget(form.heb_etage) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_code_postal) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.heb_code_postal, { 
                    'id': 'postal_code',
                    'name': 'postal_code',
                } ) }}

            </div>
            <div class="form-group">
                {{ form_label(form.heb_commune) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.heb_commune , { 'id': 'locality' } ) }}
            </div>
            <p>Merci de vérifier l'emplacement exact de votre location. Si besoin, vous pouvez changer directement l'emplacement sur la carte pour préciser le lieu de votre meublé.</p>
            <div id="map"></div>
            <div class="form-group">
                {{ form_widget(form.heb_lat) }}
                {#{{ form_widget(form.heb_lat, { 'attr' : { 'style':'display:none' } } ) }}#}
            </div>
            <div class="form-group">
                {{ form_widget(form.heb_long) }}
                {#{{ form_widget(form.heb_long, { 'attr' : { 'style':'display:none' } } ) }}#}
            </div>
         </div>
    </div>


<h4><i class="fa fa-chevron-down"></i> Caractéristiques de votre hébergement</h4>
    <div>
        <div class="item__description">
            <div class="form-group">
                {{ form_label(form.heb_name) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.heb_name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_type) }}
                {{ form_widget(form.heb_type) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_couchages_max) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.heb_couchages_max) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_nbr_pieces) }}<small style="font-style:italic; color:red;"> - Obligatoire</small>
                {{ form_widget(form.heb_nbr_pieces) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_classement) }}
                {{ form_widget(form.heb_classement) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_date_classement) }}
                {{ form_widget(form.heb_date_classement) }}
            </div>
        </div> 
    </div>

<h4><i class="fa fa-chevron-down"></i> Renseignements sur la location</h4>
    <div>
        <div class="item__description">
            <div class="form-group">
                {{form_label(form.heb_periodes_location) }}
                {{form_widget(form.heb_periodes_location) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_descriptif_court) }}
                {{ form_widget(form.heb_descriptif_court) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_photo_1) }}
                {{ form_widget(form.heb_photo_1) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_photo_2) }}
                {{ form_widget(form.heb_photo_2) }}
            </div>
                <div class="form-group">
                {{ form_label(form.heb_photo_3) }}
                {{ form_widget(form.heb_photo_3) }}
            </div>
        </div>
    </div>

<h4><i class="fa fa-chevron-down"></i> Contact et réservation</h4>
    <div>
        <div class="item__description">
            <div class="form-group">
                {{ form_label(form.heb_site_web) }}
                {{ form_widget(form.heb_site_web) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_contact_resa) }}
                {{ form_widget(form.heb_contact_resa) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_site_resa) }}
                {{ form_widget(form.heb_site_resa) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_tel_resa) }}
                {{ form_widget(form.heb_tel_resa) }}
            </div>
            <div class="form-group">
                {{ form_label(form.heb_email_resa) }}
                {{ form_widget(form.heb_email_resa) }}
            </div>
        </div>
    </div>
</div>
    
    <input type="hidden" name="idHebergement" value="{{idHebergement}}"></input>

    {#<button class="btn btn-warning mt-3">{{ button_label|default('Valider mes informations') }}</button>#}
    
{{ form_end(form) }}

{% block javascripts %}

  
{% endblock javascripts %}