{{ form_start(form) }}

  <div class="container">
    <div id="carousel1">

        <div class="item">
            <div class="item__image">
            </div>
            <div class="item__body">
                <div class="item__title">
                    <h2>Localisation de votre hébergement</h2>
                </div>
                <div class="item__description">
                    <div class="form-group">
                        {{ form_label(form.heb_adresse) }}
                        {{ form_widget(form.heb_adresse) }}
                    </div>
        {#### MAP ######}
                    <div id="map"></div>
        {###############}
                    <div class="form-group">
                        {{ form_label(form.heb_adresse_complement) }}
                        {{ form_widget(form.heb_adresse_complement) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_batiment) }}
                        {{ form_widget(form.heb_batiment) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_etage) }}
                        {{ form_widget(form.heb_etage) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_num_voie) }}
                        {{ form_widget(form.heb_num_voie, { 'id': 'street_number' } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_code_postal) }}
                        {{ form_widget(form.heb_code_postal, { 'id': 'postal_code' } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_commune) }}
                        {{ form_widget(form.heb_commune , { 'id': 'locality' } ) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.heb_adresse) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.heb_adresse_complement) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.heb_etage) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.heb_batiment) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.heb_code_postal) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.heb_commune) }}
                    </div>
                </div><!-- item description -->
            </div> <!-- item body -->
        </div><!-- item -->
    
        <div class="item">
            <div class="item__image">
                <img src="" alt="">
            </div>
            <div class="item__body">
                <div class="item__title">
                    <h2>Caractéristiques de votre hébergement</h2>
                </div>
                <div class="item__description">
                   <div class="form-group">
                        {{ form_label(form.heb_name) }}
                        {{ form_widget(form.heb_name) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_type) }}
                        {{ form_widget(form.heb_type) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_couchages_max) }}
                        {{ form_widget(form.heb_couchages_max) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_nbr_pieces) }}
                        {{ form_widget(form.heb_nbr_pieces) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_classement) }}
                        {{ form_widget(form.heb_classement) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_date_classement) }}
                        {{ form_widget(form.heb_date_classement) }}
                    </div>
                </div><!-- item description -->
            </div> <!-- item body -->
        </div><!-- item -->

        <div class="item">
            <div class="item__image">
                <img src="" alt="">
            </div>
            <div class="item__body">
                <div class="item__title">
                    <h2>Renseignements sur la location</h2>
                </div>
                <div class="item__description">
                    {#<div class="form-group">#}
                    {#    {{form_label(form.heb_periodes_location) }}#}
                    {#    {{form_widget(form.heb_periodes_location) }}#}
                    {#</div>        #}
                    <div class="form-group">
                        {{ form_label(form.heb_descriptif_court) }}
                        {{ form_widget(form.heb_descriptif_court) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_photo_1) }}
                        {{ form_widget(form.heb_photo_1) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_photo_2) }}
                        {{ form_widget(form.heb_photo_2) }}
                    </div>
                     <div class="form-group">
                        {{ form_label(form.heb_photo_3) }}
                        {{ form_widget(form.heb_photo_3) }}
                    </div>
                </div><!-- item description -->
            </div> <!-- item body -->
        </div><!-- item -->                    
                    
        <div class="item">
            <div class="item__image">
                <img src="" alt="">
            </div>
            <div class="item__body">
                <div class="item__title">
                    <h2>Contact et réservation</h2>
                </div>
                <div class="item__description">
                    <div class="form-group">
                        {{ form_label(form.heb_site_web) }}
                        {{ form_widget(form.heb_site_web) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_contact_resa) }}
                        {{ form_widget(form.heb_contact_resa) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_site_resa) }}
                        {{ form_widget(form.heb_site_resa) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_tel_resa) }}
                        {{ form_widget(form.heb_tel_resa) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.heb_email_resa) }}
                        {{ form_widget(form.heb_email_resa) }}
                    </div>
                </div><!-- item description -->
            </div> <!-- item body -->
        </div><!-- item -->
      

    <button class="btn">{{ button_label|default('Valider mes informations') }}</button>
    
{{ form_end(form) }}

{% block javascripts %}


  
{% endblock javascripts %}