{% extends 'admin.html.twig' %}

{% block title %}Modifier les informations de votre hébergement{% endblock %}

{% block header %}
    <h1 class="mt-5 mb-4 p-3 text-center">Modifier les informations de votre hébergement</h1>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
     <div class="row mb-4">
        <a href="{{ path('hebergement_show', {'id': hebergement.id}) }}">< retourner à la fiche de l'hébergement</a>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-2 d-flex flex-column">
            <img class="img-fluid my-2"  src="{{ asset('assets/img/uploads/' ~ hebergement.hebPhoto1) }}" alt="{{ hebergement.hebName }}">  
            <img class="img-fluid my-2"  src="{{ asset('assets/img/uploads/' ~ hebergement.hebPhoto1) }}" alt="{{ hebergement.hebName }}">
            <img class="img-fluid my-2" src="{{ asset('assets/img/uploads/' ~ hebergement.hebPhoto1) }}" alt="{{ hebergement.hebName }}">
        </div>
        <div class="col-md-8 col-lg-6" >
            {{ form_start(form) }}
    
            <div class="form-group" style="max-height: 60vh; overflow-y: scroll;">
                {{ form_widget(form) }}
            </div>
    
            <div class="d-flex my-3">
                <button class="btn mr-2">{{ button_label|default('Valider mes informations') }}</button>  
            {{ form_end(form) }}
                {{ include('hebergement/_delete_form.html.twig') }}   
            </div>
        </div>
        <div class="col-lg-4 d-flex my-3">
            <iframe style="max-height:350px; width:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2016.307578456493!2d6.653097699606109!3d44.38207201241344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cc918e367ff1eb%3A0x87808d0f17f225c8!2s36+Chemin+des+Alpages%2C+04400+Barcelonnette!5e0!3m2!1sfr!2sfr!4v1525080876666" frameborder="0" allowfullscreen></iframe>    
        </div>
    </div>
   
{% endblock %}