{% extends 'admin.html.twig' %}

{% block title %}Modifier les informations de votre hébergement{% endblock %}

{% block header %}
    <div class="container-fluid mt-5 mb-4 p-3" style="background: url({{asset('assets/img/illustration-hebergement/dashboard.jpg')}}) no-repeat fixed">
        <div class="row justify-content-center">
           <h1 class="text-center">Modifier les informations de votre hébergement</h1>  
        </div>
    </div>
{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
     <div class="row mb-4">
        <a href="{{ path('hebergement_show', {'id': hebergement.id}) }}">< retourner à la fiche de l'hébergement</a>
    </div>
    <div class="row my-2">
         {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>  
    <div class="row">
        <div class="col-md-4 col-lg-2 d-flex flex-column">
            <img class="img-fluid my-2"  src="{{ asset('assets/img/uploads/' ~ hebergement.hebPhoto1) }}" alt="{{ hebergement.hebName }}">  
            {% if hebergement.hebPhoto2 != '' %}
                <img class="img-fluid my-2"  src="{{ asset('assets/img/uploads/' ~ hebergement.hebPhoto2) }}" alt="{{ hebergement.hebName }}">
            {% endif %}
            {% if hebergement.hebPhoto3 != '' %}
                <img class="img-fluid my-2" src="{{ asset('assets/img/uploads/' ~ hebergement.hebPhoto3) }}" alt="{{ hebergement.hebName }}">
            {% endif %}
        </div>
        <div class="col-md-8 col-lg-6" >
            {{ form_start(form) }}
    
            <div class="form-group" style="max-height: 60vh; overflow-y: scroll;">
                {{ form_widget(form) }}
            </div>
    
            <div class="d-flex my-3 flex-column flex-sm-row">
                <div>
                     <button class="btn btn-warning mr-2">{{ button_label|default('Valider mes informations') }}</button>      
                </div>
               <div class="mt-2 mt-sm-0">
                    {{ form_end(form) }}
                    {{ include('hebergement/_delete_form.html.twig') }}     
               </div>
            </div>
        </div>
        <div id="map" class="col-lg-4 d-flex my-3" style="height: 400px;">
        </div>
    </div>
   
{% endblock %}
{% block javascripts %}
    <script>
    
        var latitude = "{{ hebergement.hebLat }}";
        var longitude = "{{ hebergement.hebLong }}";
        
        function initMap() {
            var adresse = {lat: {{ hebergement.hebLat }}, lng: {{ hebergement.hebLong }}};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: adresse
            });
            var marker = new google.maps.Marker({
              position: adresse,
              draggable: true,
              map: map
            });

            var contentString = '<div id="content">'+
              '<div id="siteNotice">'+
              '</div>'+
              '<h4 id="firstHeading" class="firstHeading">{{ hebergement.hebName }}</h4>'+
              '<div id="bodyContent">'+
              '<p>{{ hebergement.hebAdresse }}</p>'+
              '</div>'+
              '</div>';
    
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
  
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4ryzwJCu-r-gIFduP2Nb5hmu75Iix2Dg&libraries=places&callback=initMap">
    </script>
{% endblock %}