{% extends 'admin.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
    <h1>Hebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergement.id }}</td>
            </tr>
            <tr>
                <th>Heb_adresse</th>
                <td>{{ hebergement.heb_adresse }}</td>
            </tr>
            <tr>
                <th>Heb_adresse_complement</th>
                <td>{{ hebergement.heb_adresse_complement }}</td>
            </tr>
            <tr>
                <th>Heb_batiment</th>
                <td>{{ hebergement.heb_batiment }}</td>
            </tr>
            <tr>
                <th>Heb_etage</th>
                <td>{{ hebergement.heb_etage }}</td>
            </tr>
            <tr>
                <th>Heb_code_postal</th>
                <td>{{ hebergement.heb_code_postal }}</td>
            </tr>
            <tr>
                <th>Heb_commune</th>
                <td>{{ hebergement.heb_commune }}</td>
            </tr>
            <tr>
                <th>Heb_lat</th>
                <td>{{ hebergement.heb_lat }}</td>
            </tr>
            <tr>
                <th>Heb_long</th>
                <td>{{ hebergement.heb_long }}</td>
            </tr>
            <tr>
                <th>Heb_type</th>
                <td>{{ hebergement.heb_type }}</td>
            </tr>
            <tr>
                <th>Heb_nbr_pieces</th>
                <td>{{ hebergement.heb_nbr_pieces }}</td>
            </tr>
            <tr>
                <th>Heb_couchages_max</th>
                <td>{{ hebergement.heb_couchages_max }}</td>
            </tr>
            <tr>
                <th>Heb_classement</th>
                <td>{{ hebergement.heb_classement }}</td>
            </tr>
            <tr>
                <th>Heb_date_classement</th>
                <td>{{ hebergement.heb_date_classement ? hebergement.heb_date_classement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heb_periodes_location</th>
                <td>{{ hebergement.heb_periodes_location }}</td>
            </tr>
            <tr>
                <th>Heb_date_declaration</th>
                <td>{{ hebergement.heb_date_declaration }}</td>
            </tr>
            <tr>
                <th>Heb_cerfa</th>
                <td>{{ hebergement.heb_cerfa }}</td>
            </tr>
            <tr>
                <th>Heb_descriptif_court</th>
                <td>{{ hebergement.heb_descriptif_court }}</td>
            </tr>
            <tr>
                <th>Heb_photo_1</th>
                <td>{{ hebergement.heb_photo_1 }}</td>
            </tr>
            <tr>
                <th>Heb_photo_2</th>
                <td>{{ hebergement.heb_photo_2 }}</td>
            </tr>
            <tr>
                <th>Heb_photo_3</th>
                <td>{{ hebergement.heb_photo_3 }}</td>
            </tr>
            <tr>
                <th>Heb_site_web</th>
                <td>{{ hebergement.heb_site_web }}</td>
            </tr>
            <tr>
                <th>Heb_site_resa</th>
                <td>{{ hebergement.heb_site_resa }}</td>
            </tr>
            <tr>
                <th>Heb_contact_resa</th>
                <td>{{ hebergement.heb_contact_resa }}</td>
            </tr>
            <tr>
                <th>Heb_email_resa</th>
                <td>{{ hebergement.heb_email_resa }}</td>
            </tr>
            <tr>
                <th>Heb_tel_resa</th>
                <td>{{ hebergement.heb_tel_resa }}</td>
            </tr>
            <tr>
                <th>Heb_date_creation</th>
                <td>{{ hebergement.heb_date_creation ? hebergement.heb_date_creation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heb_statut</th>
                <td>{{ hebergement.heb_statut }}</td>
            </tr>
            <tr>
                <th>Heb_date_suppression</th>
                <td>{{ hebergement.heb_date_suppression ? hebergement.heb_date_suppression|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hebergement_index') }}">back to list</a>

    <a href="{{ path('hebergement_edit', {'id': hebergement.id}) }}">edit</a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}