<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tableau de bord{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="{{ asset("assets/css/dashboard-proprio.css") }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light py-3">
            <a class="navbar-brand" href="{{ path('commune_home') }}">LogoSociété</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('commune_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('commune_listing') }}">Liste des meublés</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard_declarant') }}"></i>Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"></i>Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block header %}{% endblock %}
    </header> 
    <div class="container-fluid mx-lg-3">
        <div class="row">
            <aside class="col-lg-3 text-center order-2 order-lg-1">
                <div class="row mt-5 mt-lg-0">
    <!--Affichage bloc gauche Déclarant -->
                    {% if 'admin/proprietaire' or 'admin/hebergement/new' in url %}
                      <div class="encartDeclarant w-100 d-flex flex-column card text-black bg-light mb-lg-4">
                            <div class="card-header">
                                <h4>Bienvenue {{ user.userprenom | capitalize }} {{ user.usernom | upper }}</h4>
                            </div>
                            <div style="padding-top:40px;" class="pb-4">
        					        <a href="{{ path('hebergement_new') }}" type="button" class="btn btn-secondary">Déclarer un nouveau meublé</a>
        					</div>
                            <div class="card-body">
                                <p><strong>Vos informations personnelles</strong><br>
                                <p>Vous avez actuellement {{ nombre }} meublé(s) déclaré(s)</p>
                                <div class="pb-4">
        					        <a href="{{ path('hebergement_new') }}" type="button" class="btn btn-secondary">Déclarer un meublé</a>
        					    </div>
                                <p>
                                  {% if 'user.usertelephone' %}
                                    <i class="fas fa-phone"></i> {{ user.usertelephone }}<br>
                                  {% endif %}
                                  <i class="fas fa-envelope"></i> {{ user.useremail }}<br>
                                  <i class="fas fa-map-marker"></i> 
                                    {{ user.useradresse }}<br>
                                    {{ user.userpostalcode }} {{ user.usercommune | capitalize }} <br>
                                </p>
                                <div class="pb-4">
        					        <a href="{{ path('declarant_edit') }}" type="button" class="btn btn-secondary">Modifier mes infos</a>
        					    </div>
                            </div>
                        </div>
                    <div class="w-100 d-flex flex-column">
  <!--Affichage bloc gauche mairie-OT -->
                    {% else %}
                        <div class="encartMairie w-100 d-flex flex-column card text-white bg-secondary mb-lg-4">
                            <div class="card-header">
                                <h4>Votre Mairie</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    <i class="fas fa-phone"></i> <br>
                                    <i class="fas fa-envelope"></i> <br>
                                    <i class="fas fa-map-marker"></i> <br>
                                    <strong>Maire: </strong> <br>
                                </p>   
                            </div>
                            <div>
                                <h5>Votre référent Mairie</h5>
                                <p>
                                    <i class="fas fa-address-card"></i> <br>
                                    <i class="fas fa-phone"></i> <br>
                                    <i class="fas fa-envelope"></i> <br>
                                </p>
                            </div>
                        </div>
                        <div class="encartOffice  w-100 d-flex flex-column  card text-white bg-dark mb-lg-4">
                            <div class="card-header">
                                <h4>Votre Office de Tourisme</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    <i class="fas fa-phone"></i> 04 98 76 54 32<br>
                                    <i class="fas fa-envelope"></i> ot@me.com<br>
                                    <i class="fas fa-map-marker"></i> Traverse Longue, 04400 Barcelonnette
                                </p>   
                            </div>
                        </div>
                        <div class="w-100 d-flex flex-column">
                    {% endif %}
  <!--fin du IF -->   
             
                    </div>   
                </div>
            </aside>
            <main class="col-lg-9 mt-3 order-1 order-lg-2">
                <div class="container-fluid">
                        {% block body %}{% endblock %}    
                </div>
            </main> 
        </div>
    </div>
    <footer class="mt-5">
        <div class="container-fluid" style="background: url({{asset('assets/img/illustration-hebergement/footer.jpg')}}) no-repeat center center">
            <div class="row py-3">
                <div class="col-md-8">
                    <h4 class="text-white">Espace publicitaire</h4>
                </div>
                <div class="col-md-4">
                    <p class="d-flex flex-column align-items-end">
                        <a class="text-white pb-2" href="">Déclarer son meublé</a><br>
                        <a class="text-white" href="{{ path('mentions_legales') }}">Mentions légales</a><br>
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <small class="text-white text-center">&copy; Copyright 2018</small>
            </div>
        </div>
    </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

