{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block main %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_nom</th>
                <th>User_prenom</th>
                <th>User_adresse</th>
                <th>User_complement_adresse</th>
                <th>User_postal_code</th>
                <th>User_commune</th>
                <th>User_pays</th>
                <th>User_telephone</th>
                <th>User_email</th>
                <th>User_date_inscription</th>
                <th>User_role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.user_nom }}</td>
                <td>{{ user.user_prenom }}</td>
                <td>{{ user.user_adresse }}</td>
                <td>{{ user.user_complement_adresse }}</td>
                <td>{{ user.user_postal_code }}</td>
                <td>{{ user.user_commune }}</td>
                <td>{{ user.user_pays }}</td>
                <td>{{ user.user_telephone }}</td>
                <td>{{ user.user_email }}</td>
                <td>{{ user.user_date_inscription ? user.user_date_inscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.user_role }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}