{% extends 'commune.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/inscription.css')}}">
    <style>
        html {
            height : 100%;
        }
        body{
            height: 100%;
        }
        
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Oswald', sans-serif;
        }
        
        body {
            font-family: 'Open Sans', sans-serif;
            position: relative;
            padding-bottom : 0;
        }
        
        .navbar {
            background:rgba(255,255,255, 1);
        }
        
        ul, li {
            list-style : none;
        }
        a {
            text-decoration:none;
        }
        
    </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<h1 class="mt-5 mb-4 text-center display-3 text-dark" id="titreinscription">Inscription</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            {#<form class="border border-secondary border-2 rounded pt-4 pl-4 pr-4 pb-2 mb-4">#}
                {{ form_start(form)}}

                <p class="text-center">
                    <strong>Vous êtes propriétaire.</strong><br>
                    Inscrivez-vous pour gérer la déclaration de vos meublés partout en France.
                </p>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            {{ form_label(form.user_nom)}}
                            {{ form_widget(form.user_nom)}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            {{ form_label(form.user_prenom)}}
                            {{ form_widget(form.user_prenom)}}
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12">
                        {{ form_errors(form.user_email) }}
                        {{ form_label(form.user_email)}} 
                        {{ form_widget(form.user_email)}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-12">
                        {{ form_errors(form.username) }}
                        {{ form_label(form.username)}} 
                        {{ form_widget(form.username)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.password.first)}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.password.second)}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.user_adresse)}}
                    {{ form_widget(form.user_adresse)}}
                </div>
                <div class="form-group">
                    {{ form_label(form.user_complement_adresse)}}
                    {{ form_widget(form.user_complement_adresse)}}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.user_postal_code)}}
                            {{ form_widget(form.user_postal_code)}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.user_commune)}}
                            {{ form_widget(form.user_commune)}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.user_pays)}}
                            {{ form_widget(form.user_pays)}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.user_telephone)}}
                            {{ form_widget(form.user_telephone)}}
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    {{ form_widget(form.valider)}}
                </div>
                {{ form_end(form)}}
            {#</form>#}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <aside class="bg-warning  border border-warning border-2 rounded pt-4 pl-4 pr-4 pb-2 mb-4">
                <p class="text-center">
                    <strong>Vous êtes une mairie ou un office de tourisme. Bénéficiez du service pour :</strong><br>
                </p>            
                    <ul class="list-group">
                        <div class="row align-items-middle mb-3">
                            <div class="col-2">
                                <i class="far fa-check-circle fa-2x mt-2"></i>
                            </div>
                            <div class="col-10">
                                Disposer d'une page personnalisée
                            </div>
                        </div>
                        <div class="row align-items-middle mb-3">
                            <div class="col-2">
                                <i class="far fa-check-circle fa-2x  mt-2"></i>
                            </div>
                            <div class="col-10">
                                Faciliter la déclaration pour les administrés
                            </div>
                        </div>
                        <div class="row align-items-middle mb-3">
                            <div class="col-2">
                                <i class="far fa-check-circle fa-2x  mt-2"></i>
                            </div>
                            <div class="col-10">
                                Télécharger la liste complète des meublés déclarés sur le territoire
                            </div>
                        </div>   
                    </ul>
                <p class="text-center">
                    <strong>
                        Prenez contact avec l'agence !
                    </strong>
                </p>  
                <p class="text-center">
                    <a class="btn btn-danger" href="{{path('commune_home')}}#section-contact" role="button">Contact</a>
                </p>
            </aside>
        </div>
    </div>
</div>
{% endblock %}