{% extends 'commune.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/inscription.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<h1 class="mt-5 mb-4 text-center display-3 text-dark" id="titreinscription">Inscription</h1>

<div class="container">
    <h2>Vous êtes :</h2>
    {{ form_start(form) }}
    {{ form_widget(form.user_role) }}
</div>

<div class="container" id="form-inscription-declarant">
    <div class="row d-flex flex-column">
        <div class="md-col-6" >
            <p class="text-dark text-center">Créez un compte pour déclarer et gérer vos meublés, à Barcelonnette et partout en France</p>
            <div>
                {{ form_widget(form.user_name) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}