{% extends 'commune.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/inscription.css')}}">
    <style>
        html {
            height : 100%;
        }
        body{
            height: 100%;
        }
        
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Oswald', sans-serif;
        }
        
        body {
            font-family: 'Open Sans', sans-serif;
            position: relative;
            padding-bottom : 0;
        }
        
        .navbar {
            background:rgba(255,255,255, 1);
        }
        
        ul, li {
            list-style : none;
        }
        a {
            text-decoration:none;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: Gainsboro !important;
            opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: Gainsboro !important;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: Gainsboro !important;
        }
        
        .bg-warning {
        background-color: #FFD470 !important;
        }
        .bg-info {
            background-color: #5070B5 !important;
        }
        .bg-danger {
            background-color: #FF9166 !important;
        }
        .btn-danger {
            background-color: #FF9166 !important;
            border-color: #FF9166 !important;
        }
        .btn-success {
            background-color: #58CCB6 !important;
            border-color: #58CCB6 !important;
        }
        .btn-warning {
            background-color: #FFD470 !important;
            border-color: #FFD470 !important;
        }
        
.navbar-light .navbar-nav .nav-link {
    color: #444;
    border-bottom: 2px solid #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #5070B5;
}
    </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<h1 class="mb-4 text-center display-3 text-dark" id="titreinscription" style="margin-top : 5%!important">Inscription - Mairie</h1>

{% if idMairie == 0 %}

<div class="container my-5">
    <div class="row d-flex justify-content-center border border-secondary border-2 rounded pt-4 pl-4 pr-4 pb-2 mb-4">
        <div class="col-xs-12 col-sm-12 col-md-12">
            {#<form class="border border-secondary border-2 rounded pt-4 pl-4 pr-4 pb-2 mb-4">#}
                {{ form_start(formMairie)}}
                
                <p class="text-center mb-0"><strong>Vous êtes une mairie et vous avez souscrit au service Déclarersonmeublé.com.</strong></p>
                    <p class="text-center mt-0">Renseignez ces champs pour procéder à la création de votre espace dédié.</p>
                    
                <div class="row">
                    <div class="col-12">
                        {{ form_label(formMairie.mairie_nom_touristique)}}
                        {{ form_widget(formMairie.mairie_nom_touristique)}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        {{ form_label(formMairie.mairie_maire_nom)}} 
                        {{ form_widget(formMairie.mairie_maire_nom)}}
                    </div>
    
                    <div class="col-sm-12 col-md-6">
                        {{ form_label(formMairie.mairie_maire_prenom)}} 
                        {{ form_widget(formMairie.mairie_maire_prenom)}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        {{ form_label(formMairie.mairie_contact_nom)}} 
                        {{ form_widget(formMairie.mairie_contact_nom)}}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        {{ form_label(formMairie.mairie_contact_prenom)}} 
                        {{ form_widget(formMairie.mairie_contact_prenom)}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        {{ form_label(formMairie.mairie_telephone_contact)}} 
                        {{ form_widget(formMairie.mairie_telephone_contact)}}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        {{ form_label(formMairie.mairie_email_contact)}}
                        <small>Cet email sera utilisé pour la gestion du compte :</small>
                        {{ form_widget(formMairie.mairie_email_contact)}}
                    </div>
                </div> 
                
                <div class="form-group text-center">
                    {{ form_widget(formMairie.valider)}}
                </div>
                
                {{ form_end(formMairie)}}
            {#</form>#}
        </div>
    </div>
</div
{% endif %}

{% if idMairie > 0 %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="border border-secondary border-2 rounded pt-4 pl-4 pr-4 pb-2 mb-4">
                {{ form_start(formUser)}}

                <p class="text-center">
                    <strong>Les informations administratives sont enregistrées.</strong><br>
                    Passons maintenant à la création de votre compte !
                </p>
                <div class="row">
                    <div class="col-12">
                        {{ form_errors(formUser.username) }}
                        {{ form_label(formUser.username)}} 
                        {{ form_widget(formUser.username)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_row(formUser.password.first)}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_row(formUser.password.second)}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form_label(formUser.user_adresse)}}
                        {{ form_widget(formUser.user_adresse)}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        {{ form_label(formUser.user_complement_adresse)}}
                        {{ form_widget(formUser.user_complement_adresse)}}
                    </div>
                 </div>
                <input type="hidden" name="idMairie" value="{{idMairie}}"></input>
                <div class="form-group text-center">
                    {{ form_widget(formUser.valider)}}
                </div>
                {{ form_end(formUser)}}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}